<!DOCTYPE html>
<html ng-app="alertSystem">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- TODO Change this to the hosted app link -->
    <link rel="canonical" href="https://weather-pwa-sample.firebaseapp.com/final/">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert System</title>
    <link rel="stylesheet" type="text/css" href="styles/inline.css">

    <!-- Definition of the libraries css -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">

    <link rel="manifest" href="/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Alert System">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <base href="/" />

    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
</head>
<body ng-controller="MainController as vm">

<header class="header">
    <h1 class="header__title">Alert System</h1>
    <button id="butRefresh" class="headerButton" ng-click="vm.refresh()" ng-hide="!vm.currentUser" aria-label="Refresh"></button>
    <button id="butAdd" class="headerButton" ng-click="vm.addReport()" ng-hide="!vm.currentUser" aria-label="Add"></button>
</header>


<!-- Dialog for the report adding -->
<div class="dialog-container" ng-controller="AddReportDialogController as dcontroller">
    <div class="dialog">
        <div class="dialog-title">Add new city</div>
        <div class="dialog-body">
            <select id="selectCityToAdd">
                <option value="austin">Austin, TX</option>
                <option value="boston">Boston, MA</option>
                <option value="chicago">Chicago, IL</option>
                <option value="portland">Portland, OR</option>
                <option value="sanfrancisco">San Francisco, CA</option>
                <option value="seattle">Seattle, WA</option>
            </select>
        </div>
        <div class="dialog-buttons">
            <button id="butAddCity" class="button" ng-click="dcontroller.createReport()">Add</button>
            <button id="butAddCancel" class="button" ng-click="dcontroller.cancelReportCreation()">Cancel</button>
        </div>
    </div>
</div>

<!-- Dialog for the login process -->
<div class="login-container login-container--visible" ng-controller="LoginDialogController as loginController">
    <div class="dialog">
        <div class="dialog-title">¡Bienvenido a Alert System!</div>
        <div class="dialog-body" layout="column">
            <p>Inicia sesión con:</p>

            <!-- Button for the Google Plus login access -->
            <md-button class="md-raised md-primary" flex="100" ng-click="loginController.loginWithGooglePlus()">Google +</md-button>

            <p class="login-error-message" ng-show="loginController.errorMessage">{{ loginController.errorMessage }}</p>
            <p>Al iniciar aceptas los <a href="index.html">términos y condiciones</a></p>
        </div>
    </div>
</div>

<!-- Loader element -->
<div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
</div>

<!-- Setting the Firebase connection -->
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAe56fymBclza-v-yGC_wiaSIptJlLB7mQ",
        authDomain: "alertsystem-9f7a1.firebaseapp.com",
        databaseURL: "https://alertsystem-9f7a1.firebaseio.com",
        storageBucket: "",
    };

    // Setting the firebase configuration
    firebase.initializeApp(config);
</script>

<!-- JS dependencies  -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>

<!-- Angular related files -->
<script src="scripts/app.js"></script>
<script src="scripts/services/google.login.service.js"></script>
<script src="scripts/controllers/main.controller.js"></script>
<script src="scripts/controllers/add.report.dialog.controller.js"></script>
<script src="scripts/controllers/login.dialog.controller.js"></script>


</body>
</html>
