<md-dialog aria-label="Reporte" ng-cloak style="z-index: 99999;">

    <!-- Container for the progress state -->
    <div layout="column" layout-sm="column" layout-align="space-around" ng-show="vm.isLoading" class="center-loading-container">
        <md-progress-circular md-mode="indeterminate" md-diameter="100px"></md-progress-circular>
        <br>
        <h2>Sending report data...</h2>
    </div>

    <!-- Container for the form input -->
    <div ng-hide="vm.isLoading">
        <md-toolbar ng-style="{ 'background-color': vm.getReportLevelColor() }">
            <div class="md-toolbar-tools">
                <h2>Create Report ( {{ vm.getReportLevelName() }} )</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="images/close_white.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- Form for creating the given report  -->
                <form novalidate name="vm.reportForm">
                    <!-- Input for the description of the given report -->
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="vm.report.description" name="description"
                                  md-maxlength="400" rows="5" style="height : 100px;" md-select-on-focus
                                  required></textarea>
                        <div ng-messages="vm.reportForm.description.$error">
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>

                    <input type="file" id="uploadfiles" ng-model="vm.report.photo" name="photo"/>

                    <!-- Input for posting anon -->
                    <md-input-container style="margin: 0;">
                        <md-switch ng-model="vm.report.isAnonymous">Publish anonymously</md-switch>
                    </md-input-container>

                    <p>Remember always add relevant information about the event (spam and offensive messages are reasons for ban)</p>

                </form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
            <md-button ng-click="vm.submit( vm.reportForm )" class="md-warn" style="margin-right:20px;">
                Send
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>