<md-dialog aria-label="Reporte" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Crear reporte</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="images/close_white.svg" aria-label="Cerrar diálogo"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 style="margin: 0;">Creando un reporte de: {{ vm.getReportLevelName() }}</h2>

                <!-- Form for creating the given report  -->
                <form novalidate>
                    <!-- Input for the description of the given report -->
                    <md-input-container class="md-block">
                        <label>Descripción</label>
                        <textarea ng-model="vm.report.description" md-maxlength="400" rows="5" style="height : 100px;" md-select-on-focus></textarea>
                    </md-input-container>

                    <!-- Input for posting anon -->
                    <md-input-container style="margin: 0;">
                        <md-switch ng-model="vm.report.isAnonymous">Publicar anonimamente</md-switch>
                    </md-input-container>

                    <p>Recuerda siempre agregar información relevante al suceso (Spam y mensajes basura serán razón de ban)</p>
                </form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancel()" style="margin-right:20px;">
                Cancelar
            </md-button>
            <md-button ng-click="vm.submit()" class="md-warn" style="margin-right:20px;">
                Enviar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>